.aboutContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 600px;
  margin: 3rem auto;
  border-width: 0.2px;
  border-style: solid;
  border-color: #e5e5e5;
  border-radius: 8px;
  padding: 2rem;
}
.cvImage {
  width: 20% !important;
  height: 20%;
  margin-right: 3rem;
}
h3 {
  text-align: left;
}
.infoContainer {
  display: flex;
  flex-direction: column;
}
.boldText {
  font-weight: bold;
}

@media (max-width: 650px) {
  /* Adjust the font size to 2rem when screen width is smaller than 650px */
.aboutContainer {
  width: 80vw;
  border: none;
  flex-direction: column;
  align-self: center;
  margin: auto;
}
}