.aboutContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 600px;
  margin: 3rem auto;
}
.cvImage {
  width: 20% !important;
  height: 20%;
  margin-right: 3rem;
}
h3 {
  text-align: left;
}
.infoContainer {
  display: flex;
  flex-direction: column;
}