.resume {
  width: 600px;
}
.cvSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:auto;
}
.cvButton {
  margin-top: 1rem;
}
.cvText {
  margin-bottom: 1rem;
  text-decoration: underline;
}
@media (max-width: 650px) {
.cvSection {
  width: 80vw;
}
img {
  width: 50vw;
}
}