.galleryContainer {
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin: auto;
}
.oneCarousel {
    margin-bottom: 4rem;
}
.galleryPic {
  border-radius: 8px;
  object-fit: contain;
  /* max-width: 100%; */
}

.descriptionContainer {
  text-align: left;
  width: 400px;
  margin: 2rem auto;
}

ul, li {
  list-style-type: none;
}
p {
  text-align: left !important;
}
.titles {
  margin-bottom: 1rem !important;
}
.cardContainer {
  width: 80vh !important;
}

@media (max-width: 650px) {
  /* Adjust the font size to 2rem when screen width is smaller than 650px */
.galleryContainer {
  width: 80vw;
}
}