.listContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.navContainer {
  justify-content: center;
}
ul {
  padding-left: 0 !important;
}
.logo {
  width: 30px;
  margin-left: 1rem;
}
.logoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 1rem;
}
.backToTop {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* Media query for screens less than 650px */
@media (max-width: 650px) {
  .navBarContainer {
    width: 80vw !important; /* Set the width to 600px for screens less than 650px */
  }
  .logoContainer {
    margin: auto;
  }
}