#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.mb-2 {
  margin: 3rem auto !important;
  width: 600px !important;
}
.carousel-indicators {
  margin-bottom: -2rem !important;
}
.hstack {
  flex-wrap: wrap !important;
}