#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  flex: 1;
}

.mb-2 {
  margin: 3rem auto !important;
  width: 600px !important;
}
.carousel-indicators {
  margin-bottom: -2rem !important;
}
.hstack {
  flex-wrap: wrap !important;
}
p {
  line-height: 1.8rem;
}
.page-container {
  display: flex;
  flex-direction: row;
}
aside {
  flex: 1;
  background-color: #f8f9fa;
}
h3, h2 {
  font-family: 'VT323', monospace;
}

@media (max-width: 650px) {
  #root {
    padding: 0;
  }
  aside {
    padding: 0;
    margin: 0;
  }
  }